body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    padding-top: 100px;
    
}

.card{
    margin: 50px;
    width: 500px;
    height: 500px;
    background-color: transparent;
    border: none; /* elimina cualquier borde si lo tuviera */
    padding: 0;
    
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .card-body{
    background: linear-gradient(to bottom, rgb(255, 195, 65) 50%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card .card-body > h5{
    text-align: center;
}
.card .card-body > img{
    height: 230px;
    padding-bottom: 25px;
    padding-top: 10px;
    justify-self: center;
}
